<!DOCTYPE html>
<html ng-app="UserManager">
<head lang="en">
    <meta charset="UTF-8">
    <title>User Management</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
    <link rel="stylesheet" href="/components/bootstrap/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/css/angular-toastr.css"/>

    <script src="/components/jquery-2.1.1/jquery.js"></script>
    <script src="/components/bootstrap/js/bootstrap.js"></script>
    <script src="/js/vendor/angular/angular.js"></script>
    <script src="/js/vendor/angular-toastr.js"></script>
    <script src="/components/ui-bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.12/toaster.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-controller="MainController">
<div class="container">
    <div>
        <h3 class="pull-left">User Manager</h3>
        <a ng-click="vm.showForm()" class="btn btn-small pull-right">
            Toggle User Form
            <i class="glyphicon glyphicon-menu-up" ng-class="vm.isCollapsed ? 'glyphicon glyphicon-menu-up' : 'glyphicon glyphicon-menu-down'"></i>
        </a>
    </div>
    <div class="clearfix"></div>
    <div class="form-panel" collapse="vm.isCollapsed">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="vm.user.firstname" placeholder="First Name"/>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="vm.user.lastname" placeholder="Last Name"/>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" ng-model="vm.user.email" placeholder="Email"/>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" ng-model="vm.user.password" placeholder="Password"/>
        </div>
        <div class="form-group">
            <textarea class="form-control" ng-model="vm.user.bio" placeholder="Tell us about you"></textarea>
        </div>
        <button ng-disabled="vm.editMode" ng-click="vm.addUser()" class="btn btn-primary">Add User</button>
        <button ng-disabled="!vm.editMode" ng-click="vm.saveEdit()" class="btn btn-primary">Save Edit</button>
    </div>
    <div>
        <h4>Users</h4>

        <div class="list-group">
            <a id="user-list-item" href="#" class="list-group-item" ng-repeat="user in vm.users track by user._id">
                {{user.firstname}} {{user.lastname}}
                <div id="ctrl-btn" class="pull-right">
                    <button class="btn btn-small glyphicon glyphicon-pencil" ng-click="vm.prepareForEdit(user)"></button>
                    <button class="btn btn-small glyphicon glyphicon-trash" ng-click="vm.removeUser(user._id)"></button>
                </div>
                <div class="clearfix"></div>
            </a>

        </div>
    </div>
</div>
</body>
</html>
